
@model IEnumerable<BankAppMVC.Models.AccountModel>

<h2>Accounts</h2>
<a href="@Url.Action("Create")" class="btn btn-primary">Create New Account</a>
<table class="table mt-2">
    <thead>
        <tr>
            <th>Account Number</th>
            <th>User ID</th>
            <th>Balance</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var account in Model)
        {
            <tr>
                <td>@account.AccountNumber</td>
                <td>@account.UserId</td>
                <td>@account.Balance</td>
                <td>
                    <a href="@Url.Action("Details", new { id = account.AccountNumber })">Details</a> |
                    <a href="@Url.Action("Edit", new { id = account.AccountNumber })">Edit</a> |
                    <a href="@Url.Action("Delete", new { id = account.AccountNumber })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
